In [1]:
import pandas as pd
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer

In [2]:
data = pd.read_csv("/kaggle/input/dataset/credit_scores.csv")
data.head(10)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Score,Count_Auto Loan,Count_Credit-Builder Loan,Count_Personal Loan,Count_Home Equity Loan,Count_Not Specified,Count_Mortgage Loan,Count_Student Loan,Count_Debt Consolidation Loan,Count_Payday Loan
0,0x1608,CUS_0xd40,July,Aaron Maashoh,23.0,821-00-0265,Scientist,19114.12,1824.843333,3.0,...,Good,1.0,1.0,1.0,1.0,0.0,0,0,0,0
1,0x160f,CUS_0x21b1,February,Rick Rothackerj,28.0,004-07-5839,Teacher,34847.84,3037.986667,2.0,...,Good,0.0,1.0,0.0,0.0,0.0,0,0,0,0
2,0x1612,CUS_0x21b1,May,Rick Rothackerj,28.0,004-07-5839,Teacher,34847.84,3037.986667,2.0,...,Good,0.0,1.0,0.0,0.0,0.0,0,0,0,0
3,0x1613,CUS_0x21b1,June,Rick Rothackerj,28.0,004-07-5839,Teacher,34847.84,3037.986667,2.0,...,Good,0.0,1.0,0.0,0.0,0.0,0,0,0,0
4,0x1615,CUS_0x21b1,August,Rick Rothackerj,28.0,004-07-5839,Teacher,34847.84,3037.986667,2.0,...,Good,0.0,1.0,0.0,0.0,0.0,0,0,0,0
5,0x161f,CUS_0x2dbc,June,Langep,34.0,486-85-3974,Engineer,143162.64,12187.220000,1.0,...,Good,2.0,0.0,0.0,0.0,1.0,0,0,0,0
6,0x1621,CUS_0x2dbc,August,Langep,34.0,486-85-3974,Engineer,143162.64,12187.220000,1.0,...,Standard,2.0,0.0,0.0,0.0,1.0,0,0,0,0
7,0x1626,CUS_0xb891,January,Jasond,54.0,072-31-6145,Entrepreneur,30689.89,2612.490833,2.0,...,Standard,0.0,0.0,0.0,0.0,1.0,0,0,0,0
8,0x1627,CUS_0xb891,February,Jasond,54.0,072-31-6145,Entrepreneur,30689.89,2612.490833,2.0,...,Standard,0.0,0.0,0.0,0.0,1.0,0,0,0,0
9,0x1629,CUS_0xb891,April,Jasond,55.0,072-31-6145,Entrepreneur,30689.89,2612.490833,2.0,...,Standard,0.0,0.0,0.0,0.0,1.0,0,0,0,0

In [3]:
data.columns

Index(['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Delay_from_due_date',
       'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score', 'Count_Auto Loan', 'Count_Credit-Builder Loan',
       'Count_Personal Loan', 'Count_Home Equity Loan', 'Count_Not Specified',
       'Count_Mortgage Loan', 'Count_Student Loan',
       'Count_Debt Consolidation Loan', 'Count_Payday Loan'],
      dtype='object')

In [4]:
# Remove unnecessary columns
columns_to_remove = ["Name", "SSN", "ID", "Customer_ID"]
data.drop(columns=columns_to_remove, inplace=True)

In [5]:
data.head(10)

,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_of_Delayed_Payment,...,Credit_Score,Count_Auto Loan,Count_Credit-Builder Loan,Count_Personal Loan,Count_Home Equity Loan,Count_Not Specified,Count_Mortgage Loan,Count_Student Loan,Count_Debt Consolidation Loan,Count_Payday Loan
0,July,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,3.0,8,...,Good,1.0,1.0,1.0,1.0,0.0,0,0,0,0
1,February,28.0,Teacher,34847.84,3037.986667,2.0,4.0,6.0,7.0,1,...,Good,0.0,1.0,0.0,0.0,0.0,0,0,0,0
2,May,28.0,Teacher,34847.84,3037.986667,2.0,4.0,6.0,3.0,1,...,Good,0.0,1.0,0.0,0.0,0.0,0,0,0,0
3,June,28.0,Teacher,34847.84,3037.986667,2.0,4.0,6.0,3.0,0,...,Good,0.0,1.0,0.0,0.0,0.0,0,0,0,0
4,August,28.0,Teacher,34847.84,3037.986667,2.0,4.0,6.0,3.0,4,...,Good,0.0,1.0,0.0,0.0,0.0,0,0,0,0
5,June,34.0,Engineer,143162.64,12187.220000,1.0,5.0,8.0,8.0,6,...,Good,2.0,0.0,0.0,0.0,1.0,0,0,0,0
6,August,34.0,Engineer,143162.64,12187.220000,1.0,5.0,8.0,8.0,6,...,Standard,2.0,0.0,0.0,0.0,1.0,0,0,0,0
7,January,54.0,Entrepreneur,30689.89,2612.490833,2.0,5.0,4.0,0.0,6,...,Standard,0.0,0.0,0.0,0.0,1.0,0,0,0,0
8,February,54.0,Entrepreneur,30689.89,2612.490833,2.0,5.0,4.0,5.0,3,...,Standard,0.0,0.0,0.0,0.0,1.0,0,0,0,0
9,April,55.0,Entrepreneur,30689.89,2612.490833,2.0,5.0,4.0,7.0,6,...,Standard,0.0,0.0,0.0,0.0,1.0,0,0,0,0

In [6]:
pd.set_option('display.max_colwidth', None)  # Show full column content

In [7]:
data

,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_of_Delayed_Payment,...,Credit_Score,Count_Auto Loan,Count_Credit-Builder Loan,Count_Personal Loan,Count_Home Equity Loan,Count_Not Specified,Count_Mortgage Loan,Count_Student Loan,Count_Debt Consolidation Loan,Count_Payday Loan
0,July,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,3.0,8,...,Good,1.0,1.0,1.0,1.0,0.0,0,0,0,0
1,February,28.0,Teacher,34847.84,3037.986667,2.0,4.0,6.0,7.0,1,...,Good,0.0,1.0,0.0,0.0,0.0,0,0,0,0
2,May,28.0,Teacher,34847.84,3037.986667,2.0,4.0,6.0,3.0,1,...,Good,0.0,1.0,0.0,0.0,0.0,0,0,0,0
3,June,28.0,Teacher,34847.84,3037.986667,2.0,4.0,6.0,3.0,0,...,Good,0.0,1.0,0.0,0.0,0.0,0,0,0,0
4,August,28.0,Teacher,34847.84,3037.986667,2.0,4.0,6.0,3.0,4,...,Good,0.0,1.0,0.0,0.0,0.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33397,January,28.0,Architect,20002.88,1929.906667,10.0,8.0,29.0,35.0,26,...,Poor,1.0,0.0,1.0,0.0,0.0,1,2,0,0
33398,February,28.0,Architect,20002.88,1929.906667,10.0,8.0,29.0,33.0,25,...,Poor,1.0,0.0,1.0,0.0,0.0,1,2,0,0
33399,July,28.0,Architect,20002.88,1929.906667,10.0,8.0,29.0,33.0,26,...,Standard,1.0,0.0,1.0,0.0,0.0,1,2,0,0
33400,August,29.0,Architect,20002.88,1929.906667,10.0,8.0,29.0,33.0,25,...,Standard,1.0,0.0,1.0,0.0,0.0,1,2,0,0
33401,June,25.0,Mechanic,39628.99,3359.415833,4.0,6.0,5729.0,27.0,6,...,Poor,1.0,0.0,0.0,0.0,0.0,0,1,0,0

In [8]:
# Set the Credit_Score feature as the target variable
y = data['Credit_Score']
# Set the remaining features as the input variables
X = data.drop(columns='Credit_Score')

In [9]:
from sklearn.model_selection import train_test_split
# Divide the dataset by 80% training and 20% testing using the random seed number of 1
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [10]:
# Assuming df is your DataFrame
missing_data = data.isnull().sum()
print("Missing data per column:\n", missing_data)

Missing data per column:
 Month                            2
Age                              2
Occupation                       2
Annual_Income                    0
Monthly_Inhand_Salary            0
Num_Bank_Accounts                1
Num_Credit_Card                  1
Interest_Rate                    1
Delay_from_due_date              3
Num_of_Delayed_Payment           0
Changed_Credit_Limit             1
Num_Credit_Inquiries             3
Credit_Mix                       0
Outstanding_Debt                 0
Credit_Utilization_Ratio         0
Credit_History_Age               3
Payment_of_Min_Amount            0
Total_EMI_per_month              4
Amount_invested_monthly          0
Payment_Behaviour                1
Monthly_Balance                  1
Credit_Score                     0
Count_Auto Loan                  1
Count_Credit-Builder Loan        2
Count_Personal Loan              2
Count_Home Equity Loan           1
Count_Not Specified              4
Count_Mortgage Loan              0
Count_Student Loan               0
Count_Debt Consolidation Loan    0
Count_Payday Loan                0
dtype: int64

In [11]:
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
# Define numeric and categorical features
num_features = [
    "Age", "Num_Bank_Accounts", "Num_Credit_Card", "Interest_Rate", 
    "Delay_from_due_date", "Changed_Credit_Limit", "Num_Credit_Inquiries", 
    "Credit_History_Age", "Total_EMI_per_month", "Monthly_Balance", 
    "Count_Auto Loan", "Count_Credit-Builder Loan", "Count_Personal Loan", 
    "Count_Home Equity Loan", "Count_Not Specified"
]

cat_features = ["Payment_Behaviour"]

In [12]:
num_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='mean')),  # fill missing values with mean
    ('scaler', StandardScaler()),  # scale numerical columns
])

In [13]:
cat_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='most_frequent')),  # fill missing values with the most frequent value
    ('onehot', OneHotEncoder(handle_unknown='ignore'))  # one-hot encode categorical columns
])

In [14]:
preprocessor = ColumnTransformer(transformers=[
    ('num', num_pipeline, num_features),
    ('cat', cat_pipeline, cat_features)
])

In [15]:
data_transformed = preprocessor.fit_transform(data)

In [16]:
data_transformed_df = pd.DataFrame(data_transformed, columns=num_features + list(preprocessor.named_transformers_['cat']['onehot'].get_feature_names_out(cat_features)))